html,
body,
#elfinder {
    background: #ffffff !important;
    color: inherit !important;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.elfinder {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
    filter: none;
}
